html,
body {
  background: $white;
  color: $font-main;
  font-family: $font-family-main;
  font-size: $font-size-prime;
  font-weight: 300;
  z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

div,
form,input,textarea,
ul,li,h1,h2{
  display: flex;
}

a, a:hover,a:active,
a:visited,a:focus{
  text-decoration: none;
  color:inherit;
}

ul,
ol {
  list-style: none;
}
h1{
  font-size:$font-size-h1;
  font-weight:100;
  align-self:center;
  margin:0 auto;
}
h2{
  font-size:$font-size-h2;
  font-weight:300;
  align-self:center;
  margin:0 auto;
  padding-top:70px;
}
input[type = 'text'],select,textarea{
  box-sizing: border-box;

  color: $font-main;
  font-size:$font-size-input;
  padding:20px;

  border: 1px solid $grey;
  border-radius:5px;
  outline: none;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $font-input-grey;
    text-align: center;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $font-input-grey;
    text-align: center;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $font-input-grey;
    text-align: center;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $font-input-grey;
    text-align: center;
  }



}
select{
  background: url(../img/aroow-selector.png) 95% 50% no-repeat #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $font-input-grey;
&.selected{
  color: $font-main;
}

}

.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.wrapper {
  margin: 0 auto;
  width: 1920px;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  width: 768px;
  flex-direction: column;
}

.brown{
  color: $font-brown;
}

