$font-family-main: 'Roboto', sans-serif;
$font-size-prime: 16px;
$font-size-menu: 14px;
$font-size-h1: 70px;
$font-size-h2: 30px;
$font-size-input: 24px;
$font-size-slider: 13px;
$font-size-textarea:20px;


