<div class="info container" id = "info">

    <h2>
        Личная информация
    </h2>
    <div class="form">
        <input type="text" id= 'name' placeholder="ФИО">
        <select name="" id="age">
            <option value="0" class = 'placeholder' hidden disabled selected>Год рождения</option>
            <option value="70">1970-1979</option>
            <option value="80">1980-1989</option>
            <option value="90">1990-1999</option>
            <option value="2000">2000-2009</option>
        </select>
        <input type="text" id = "city" placeholder="Место проживания">
        <input type="text" id = 'skype' placeholder="Skype">
        <input type="text" id = 'mail' placeholder="E-mail">

    </div>
</div>