<div class="js container fourth" id = "js">

    <h2>
        Уровень владения JavaScript
    </h2>
   <div class="row brown">
       <div>
           <p>Не владею</p>
       </div>
       <div>
           <p>Использую готовые решения</p>
       </div>
       <div>
           <p>Использую готовые решения и умею и переделывать</p>
       </div>
       <div>
           <p>Пишу сложный JS с нуля</p>
       </div>
   </div>
    <!--<input type="range" min="0" max="4" step="1" value="2">-->


    <div id="slider" class = 'slider'>
        <div id="custom-handle" class="ui-slider-handle"></div>
    </div>

</div>