<div class="exp container" id = "exp">

    <h2>
        Расскажите о своем опыте
    </h2>
   <div class="row">
       <div class="column">
           <input type="checkbox" name="oocss" id="oocss">
           <label for ="oocss">БЭМ/OOCSS</label>
           <input type="checkbox" name="sass" id="sass">
           <label for ="sass">Stylus/LESS/SASS</label>
          <input type="checkbox" name="svg" id="svg">
           <label for ="svg">Работаю с SVG</label>
       </div>
       <div class="column">
        <input type="checkbox" name="semantica" id="semantica">
           <label for ="semantica">Верстаю семантично</label>
          <input type="checkbox" name="es2015" id="es2015">
           <label for ="es2015">ES2015/ES2016</label>
           <input type="checkbox" name="gulp" id="gulp">
           <label for ="gulp">Gulp/GRUNT</label>
       </div>

       <div class="column">
           <input type="checkbox" name="webpack" id="webpack">
           <label for ="webpack">Webpack</label>
           <input type="checkbox" name="jquery" id="jquery">
           <label for ="jquery">jQuery</label>
            <input type="checkbox" name="git" id="git">
           <label for ="git">Ипользую Git</label>
       </div>
   </div>
</div>