.bg{
  height:165px;
  width: 100%;
  background: url("../img/forest-bg.jpg") no-repeat 50% 0;
  background-size: cover;
  position: relative;
  &:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.95) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.95) 90%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.95) 90%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }
  &+div{
    position: relative;
    top:-60px;
  }
  margin-bottom:10px;
}
